<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609186383303-f9ursic3866v6itmq9tm6kaebsnkpqoi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609186383303-f9ursic3866v6itmq9tm6kaebsnkpqoi</string>
	<key>API_KEY</key>
	<string>AIzaSyB92cnelMkaM7O4BpLVF8asy1mdj0TYz9s</string>
	<key>GCM_SENDER_ID</key>
	<string>609186383303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.revarino.Online-Platform-Mobile</string>
	<key>PROJECT_ID</key>
	<string>skripsichat-ede42</string>
	<key>STORAGE_BUCKET</key>
	<string>skripsichat-ede42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609186383303:ios:14fa511df9a753ee8c45e2</string>
</dict>
</plist>